h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

#tagline {
  text-align: center;
}
/* ul  {
 padding-left:0;
} */
ul li  {
 list-style-position:inside
}

.information {
  margin: 0 auto;
  padding: 5px;
  width: 40%;
  height: 30%;
}
